@keyframes float{

    from{

        transform:translateY(100vh);

    }

    to{

        transform:translateY(-150px);

    }

}

@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(50px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

@keyframes fall{

    from{

        transform:
        translateY(-50px)
        rotate(0deg);

        opacity:1;

    }

    to{

        transform:
        translateY(110vh)
        rotate(360deg);

        opacity:.7;

    }

}

@keyframes fadeOut{

    to{

        opacity:0;

        transform:scale(.97);

    }

}

.reveal{

    opacity:0;

    transform:translateY(80px);

    transition:1s;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}

.heart{

    position:fixed;

    color:#ff9cbc;

    opacity:.4;

    animation:float 12s linear infinite;

    user-select:none;

    pointer-events:none;

}

.h1{

    left:8%;
    font-size:30px;
    animation-delay:0s;

}

.h2{

    left:25%;
    font-size:20px;
    animation-delay:3s;

}

.h3{

    left:50%;
    font-size:40px;
    animation-delay:6s;

}

.h4{

    left:75%;
    font-size:25px;
    animation-delay:9s;

}

.h5{

    left:90%;
    font-size:35px;
    animation-delay:2s;

}

.pressed{

    transform:scale(.92);

}